/* NOTE: Make sure that when you complete your Lab, you leave a comment at the top of this file listing which new properties you used! */

/* 
I added a transform: scale to my button with a transition to ease an animation of the button getting bigger and smaller as the mouse hovers over it 
*/

:root {
  --dk-grey: #263238;
  --hot-pink: #EC407A;
  --yellow: #FDD835;
  --green: #8BC34A;
  --white: #FAFAFA;
}

/* Utility Classes */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-container {
  margin: auto;
  max-width: 40rem;
  padding: 3rem 1rem;
}

header .inner-container {
  padding: unset;
}

/* Typography */
body {
  font-family: "Nunito", sans-serif;
}

header, a {
  color: var(--white);
}

h2 {
  font-size: 2.5rem;
}

span {
  color: var(--hot-pink);
}

.dropdown {
  line-height: 2;
}

.modal-popup {
  text-align: center;
}

.modal-popup p {
  font-size: 1.3rem;
}

.modal-popup button {
  font-weight: 700;
}

/* header & nav */
header {
  background-color: var(--dk-grey);
  padding: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.toggle-btn {
  color: #fff;
  cursor: pointer;
}

.main-menu li a, a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.icon {
  max-width: 3rem;
  max-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* main */
body {
  background: url(../img/crowd-background.webp) top / cover no-repeat;
  overflow: hidden;
}

h2 {
  padding-bottom: 1rem;
}

.main-menu li ul.dropdown {
  background-color: var(--dk-grey);
  padding: 1rem;
}

.dropdown {
  padding-top: 1rem;
  background-color: var(--dk-grey);
}

.modal-popup {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 50%);
  padding: 6rem 2rem;
  margin: 10rem 6rem;
  justify-content: center;
  align-items: center;
}

.modal-popup p {
  padding-bottom: 1rem;
}

.modal-popup button {
    background-image: linear-gradient(to right, #DD2476  0%, #FF512F 51%, #FF512F  100%);
    padding: 15px 45px;
    text-align: center;
    color: white;            
    border-radius: 50px;
    border: none;
}


/* hidden menu indictors for mobile view */
nav {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  background-color: var(--dk-grey);
}

.show-nav {
  max-height: unset;
  overflow: visible;
}

nav li {
  margin: 0.5rem 0;
}

nav li a {
  display: block;
}

nav li a{
  text-transform: uppercase;
}

/* Animation */
.modal-popup button:hover {
  transform: scale(1.25);
  transition: .5s ease-in-out;
}

/* Media Queries */
@media screen and (min-width: 950px) {
  .wide-flex {
    display: flex;
    align-items: flex-start;
  }

  header div.inner-container {
    max-width: 60rem;
  }

  header div.inner-container > .flex-container {
    flex: 1 0 auto;
  }

  .toggle-btn {
    display: none;
  }

  nav {
    justify-content: flex-end;
    position: static;
    overflow: visible;
    white-space: nowrap;
  }

  nav ul li {
    list-style-type: none;
  }

  .main-menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .main-menu li {
      position: relative;
  }

  .main-menu > li {
      margin: 1rem;
  }

  .dropdown {
        min-width: 100%;
        background-color: var(--dk-navy);
        padding: 1rem;
        position: absolute;
        visibility: hidden;
    }

    .main-menu li:hover > .dropdown {
        visibility: visible;
    }
}